<!DOCTYPE html>
<html> 
  <head>
    <link rel="stylesheet" href="/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script type="text/javascript" src="./chat.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <title> M'foka, mfokaaaa </title>
  </head>
  <body>
    <div class="container"> 
      <div class="col-md-6">
        <div class="jumbotron"> 
          <p> Hier word daar kak gepraat </p>
          <div id="content"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="controls">
          <input id="field" style="width: 350px;" />
          <button class="btn btn-primary" id="send"> Praat kak </button>
        </div>
      </div>
    </div>
  </body>
</html>
